<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статистика</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Статистика</h1>

    <p>Общее количество анкет: <span th:text="${surveyCount}"></span></p>
    <p>Общее количество ответов: <span th:text="${answerCount}"></span></p>
    <p>Самая популярная анкета: <span th:text="${mostPopularSurvey.title}"></span></p>

    <a href="/surveys" class="button">Вернуться к анкетам</a>
</div>
</body>
</html>
